.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }

.form-container {
    margin-top: 150px;
    background-color: rgb(77, 77, 77);
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    color: white;
    padding:50px;
}

.side-col {

}
