li {
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: 0 0 25px pink;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    