<!-- example help from https://www.codeply.com/p/P0KN7DNsEq and https://www.youtube.com/watch?v=qNifU_aQRio -->
<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <div class="container-fluid">
        <a routerLink="" class="span navbar-brand mb-0 h1 p-3">
            <!-- <img class="d-inline-block align-top" width="30" height="30"/> -->
            Retail Management App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <a routerLink="/" class="nav-link">
                        Home
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/store" class="nav-link">
                        Store
                        <i class="fa-solid fa-store"></i>
                    </a>
                </li>
                <li *ngIf="isManager()"class="nav-item active">
                    <a routerLink="/add-product" class="nav-link">
                        Add a product
                        <i class="fa-solid fa-apple-whole"></i>
                    </a>
                </li>
                <li *ngIf="isManager()" class="nav-item active">
                    <a routerLink="/manage-orders" class="nav-link">
                        View all created orders
                        <i class="fa-solid fa-boxes-stacked"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li *ngIf="!isAuthenticated()" class="nav-item active">
                    <a routerLink="/login" class="nav-link">
                        Login
                        <i class="fa-solid fa-lock"></i>
                    </a>
                </li>
                <li *ngIf="!isAuthenticated()" class="nav-item active">
                    <a routerLink="/create-account" class="nav-link">
                        Create Account
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>

                <li *ngIf="isAuthenticated()" class="nav-item active">
                    <button mat-raised-button color="primary" (click)="logout()">Log Out</button>
                </li>
                <li *ngIf="isClient()" class="nav-item active">
                    <a routerLink="/orders" class="nav-link">
                        Orders
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a routerLink="/cart" class="nav-link">
                        Go to Cart
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>