<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #2e3941;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <button type="button" (click)="goToGithub()" class="btn btn-outline-light btn-rounded">
              GitHub Repository
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Licensing info:
        <a class="text-white" href="/licensing" target="_blank">Licensing</a>
      </div>
    </footer>
    <!-- Footer -->
  </section>