<div class="d-flex flex-column" style="background-color: grey;">
    <app-home-nav></app-home-nav>
    <section class="vh-100">
        <div class="text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 side-col">

                    </div>
                    <div class="col-sm-4 form-container">
                        <form style="max-width:600px; margin:auto">
    
                            <div class="sign-heading mt-4" style="color:white">
                                <i class="fa-solid fa-apple-whole fa-4x"></i>
                                <h1 class="h3 mb-3 font-weight-normal mt-4">Add a product</h1>
                            </div>
                
                            <div class="mt-3 mb-3">
                                <mat-form-field [style.width.%]=70>
                                    <mat-label>Product Name</mat-label>
                                    <input type="text" name="name" [(ngModel)]="name" id="name" matInput required autofocus>
                                </mat-form-field>
                            </div>
                
                            <div class="mt-3 mb-3">
                                <mat-form-field [style.width.%]=70>
                                    <mat-label>Select category</mat-label>
                                    <mat-select name="category" [(ngModel)] ="category">
                                        <mat-option value="Fruits">Fruits</mat-option>
                                        <mat-option value="Vegetables">Vegetables</mat-option>
                                        <mat-option value="Food and Drinks">Food and Drinks</mat-option>
                                        <mat-option value="Electronics">Electronics</mat-option>
                                        <mat-option value="Clothes">Clothes</mat-option>
                                        <mat-option value="Toys">Toys</mat-option>
                                        <mat-option value="Health">Health</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
            
                            <div class="mt-3 mb-3">
                                <mat-form-field floatLabel="always" [style.width.%]=70>
                                    <mat-label>Amount</mat-label>
                                    <input matInput name="amount" [(ngModel)]="price" type="number" class="example-right-align" placeholder="0.00" step="0.01">
                                    <span matTextPrefix>$&nbsp;</span>
                                  </mat-form-field>
                            </div>
                            <!-- got from here https://material.angular.io/components/form-field/overview -->
                            <div class="mt-3 mb-3">
                                <mat-form-field floatLabel="always" [style.width.%]=70>
                                    <mat-label>Stock</mat-label>
                                    <input matInput name="stock" [(ngModel)]="stock" type="number" class="example-right-align" placeholder="1">
                                  </mat-form-field>
                            </div>
                
                            <div class="mt-4">
                                <button mat-raised-button color="primary" (click)="addProduct()">Add Product</button>
                            </div>
            
                        </form>
                    </div>
                    <div class="col-sm-4 side-col">
    
                    </div>

                </div>

                </div>
                
            </div>
        

    </section>
    <app-footer></app-footer>
    
</div>

