<!-- Some help from https://www.w3schools.com/bootstrap/bootstrap_theme_me.asp -->
<!-- code from https://mdbootstrap.com/docs/standard/extended/registration/ -->
<section class="vh-100" style="background-color: #232523f6;">
    <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
        <div class="card text-white" style="border-radius: 25px; background-color: grey;">
            <div class="card-body p-5 m-5">
                <div class="row justify-content-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">MIT License</p>
                    <p class="text-center">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions.

                        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
                        
                        The software is provided "As is", without warranty of any kind, express or implied, including but not limited To the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall The authors or copyright holders be liable for any claim, damages or other liability, whether in an action of Contract, tort or otherwise, arising from, out of or in connection with the software or the use or other Dealings in the software.
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</section>
<app-footer></app-footer>
