.example-card {
    width: 450px;
    padding-top: 15px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    margin: 15px;
}
.title {
    color: #E91E63;
    font-size: 35px;
}

.cart-icon{
    color:#E91E63;

}
.cart-icon:hover {
    cursor: pointer;
}
.card-content {
    margin-top:25px;
    text-align:right;
    color: white;
}
.stock-buttons{
    justify-content: space-between;
    margin-top: 20px;
}

.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 450px;
    height: 385px;
    line-height: 450px;
    background-color: #E91E63;
    color: white;
    font-size: 10em;
    word-wrap: normal;
}