<div class="d-flex flex-column" style="background-color: grey;">
    <app-home-nav></app-home-nav>
    <section class="min-vh-100">
        <div class="container-fluid order-container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="d-flex flex-column left-col">
                        <div class="d-flex flex-column orders">
                            <div class="d-flex" style="justify-content: space-between;">
                                <h1 style="font-size: 30px;">All Orders</h1>
                                <button (click)="reloadOrdersButton()" mat-fab color="warn" aria-label="Reload orders">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                            <hr>
                            <p *ngIf="!reloadOrders()">No orders have been placed</p>
                            <div *ngFor="let order of orders">
                                
                                <div class="container-fluid order-container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h1><strong>Order #: {{order.id}}</strong></h1>
                                        </div>
                                        <div class="col-lg-6" style="text-align: right;">
                                            <h1><strong>Total cost with taxes: {{numberToCost(order.totalcost)}}</strong></h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" style="text-align: right;">
                                            <h2><strong>Status: {{order.status}}</strong></h2>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-3">
                                        <div *ngFor="let productOrder of order.productOrders">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <p>{{productOrder.product.name}} x{{productOrder.amount}}</p>
                                                </div>
                                                <div class="col-lg-6" style="text-align: right;">
                                                    <p>{{numberToCost(productOrder.product.price*parseInt(productOrder.amount))}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p>{{order.firstname}} {{order.lastname}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p>{{order.address}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p>{{order.city}}, {{order.state}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p>{{order.zipcode}}</p>
                                        </div>
                                    </div>
                                    <div class="row buttons">
                                        <div class="col-sm-2">
                                            <h1>Change status: </h1>
                                        </div>
                                        <div class="col-sm-2">
                                            <button mat-flat-button style="background-color: greenyellow; color:black;" (click)="setAsCompleted(order)">Completed</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button mat-flat-button style="background-color: lightblue; color: black" (click)="setAsPending(order)">Pending</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button mat-flat-button style="background-color: pink; color: black" (click)="setAsPlaced(order)">Placed</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button mat-flat-button style="background-color: indianred; color: black" (click)="cancelOrder(order)">Cancelled</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        </div>
                </div>

                <div class="col-lg-3">
                    <div class="d-flex flex-column orders">
                        <h1 style="text-align: center; font-size: 30px;">Amount of orders</h1>
                        <hr>
                        <div class="d-flex flex-column order-flex">
                            <div class="container-fluid cost-container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        Orders completed:
                                    </div>
                                    <div class="col-lg-6" style="text-align: right;">
                                        {{amountCompleted}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex flex-column order-flex">
                            <div class="container-fluid cost-container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        Orders pending:
                                    </div>
                                    <div class="col-lg-6" style="text-align: right;">
                                        {{amountPending}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex flex-column order-flex">
                            <div class="container-fluid cost-container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        Orders placed:
                                    </div>
                                    <div class="col-lg-6" style="text-align: right;">
                                        {{amountPlaced}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex flex-column order-flex">
                            <div class="container-fluid cost-container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        Orders cancelled:
                                    </div>
                                    <div class="col-lg-6" style="text-align: right;">
                                        {{amountCancelled}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex flex-column order-flex">
                            <div class="container-fluid cost-container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        Total orders:
                                    </div>
                                    <div class="col-lg-6" style="text-align: right;">
                                        {{totalOrders}}
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>